{
  "openapi": "3.0.3",
  "info": {
    "title": "RAYNET CRM API",
    "description": "Cloud CRM REST API is a programming interface of the RAYNET CRM system that allows you to work with data inside the CRM system from third-party applications. Communication is done using the standard HTTP protocol with respect to [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) principles.\n## Connection to RAYNET CRM\nThe communication protocol is HTTP, so you can use any application or library that supports this protocol. The [curl](https://curl.haxx.se/) application will be used for the demonstration. An alternative is, for example, the add-on [Talend API Tester](https://chrome.google.com/webstore/detail/talend-api-tester-free-ed/aejoelaoggembcahagimdiliamlcdmfm) for Google Chrome. Access is secured with basic authentication (username and API key) and encrypted with TLSv1.2 and higher (HTTPS) to ensure maximum security. In the request header you must send the name of your instance (e.g. `my-crm`).\n\n```bash\n  curl -X GET -u 'user:api-key' -H 'X-Instance-Name: my-crm' 'https://app.raynet.cz/api/v2/company/'\n```\n\n## Data types\n\nThe values of individual attributes in the RAYNET CRM system are made up of several basic data types:\n\n+ `String` - Text value.\n\n+ `Number` - Numeric value. Depending on the context, this can be either an integer or a decimal number. Decimal numbers use a decimal point.\n\n+ `Truth value` - YES/NO value. For the YES value you can use true, on, yes and 1; for the NO value you can use false, off, no and 0.\n\n+ `Date` - Date as a string in the format `yyyy-MM-dd`.\n\n+ `Date and time` - Date and time as a string in the format `yyyy-MM-dd HH:mm`. Date and time in ISO8601 format are also accepted (e.g. `2022-01-01T12:00:00.000+01:00`).\n\n+ `Reference` - The reference data type refers to another record in the RAYNET CRM system. In the incoming data, the reference is a map (JavaScript object) that contains the keys:\n\n  + id - Identifier of the referenced record.\n\n\n### Date and time\n\nThe date and time as a string in the format `yyyy-MM-dd HH:mm` is in the time zone of the user through whom the API requests are made. For filtering and writing (`PUT`, `POST`) it is possible to use both formats (`yyyy-MM-dd HH:mm`, ISO8601).\n\nIn response, the date and time is formatted as `yyyy-MM-dd HH:mm` in the user's time zone by default. By adding the parameter `dateFormat=ISO8601` it is possible to influence the output format, the value will be formatted into the form `2022-01-01T12:00:00.000+01:00`.\ne.g. `https://ww....company/?dateFormat=ISO8601`\n\n## List filtering\n\nOperators working on attributes and values are as follows:\n\n+ `EQ` - Test for equality of values.\n+ `EQ_OR_NULL` - Test for equality or empty value.\n\n+ `NE` - Test for inequality of values.\n\n+ `NE_OR_NULL` - Test for inequality or empty value.\n\n+ `LT` - The value in the database is less than the one entered.\n\n+ `LE` - The value in the database is less than or equal to the one entered.\n\n+ `GT` - The value in the database is greater than the one entered.\n\n+ `GE` - The value in the database is greater than or equal to the one entered.\n\n+ `LIKE` - Test for a value matching an expression (e.g. the ABC% filter value finds all records that start with the characters ABC).\n\n+ `LIKE_NOCASE` - Similar to LIKE, but case insensitive.\n\n+ `IN` - Test for equality of (multiple) values separated by comma. The correct input format is e.g. `1,2,3,4`.\n\n+ `NOT_IN` - Test for inequality of (multiple) values separated by comma. The correct input format is e.g. `1,2,3,4`.\n\n+ `CUSTOM` - Special operator - the test behavior is described later in the documentation.\n\nThe default operator is the equality `EQ`. The operator is written in square brackets after the attribute name. It is thus possible to enter multiple filtering criteria over the same attribute. `https://app..../?validFrom[GT]=\"2014-06-01\"&validTill[LT]=\"2014-06-10\"`\nA common scenario is to filter out all records that have the attribute empty or non-empty. For this purpose, the value `empty string` can be used in combination with the `EQ` or `NE` operator.\n\n## List layout\n\nThe layout of the list is controlled by the `sortColumn` and `sortDirection` parameters. For each API, there is a list of values that can be used to sort the list. The `sortDirection` parameter can have the values:\n\n+ `ASC` - Values are sorted in ascending order\n\n+ `DESC` - Values are sorted in descending order\n\n## List pagination\n\nThe list can be paginated by setting the `offset` and `limit` parameters. Offset specifies the first record to be displayed, limit specifies the number of records. The maximum page size is 1 000 items. Například `https://app..../?offset=0&limit=2`\n\n## Fulltext\n\nIn most of the lists, you can use full-text search according to the entered text string. The `fulltext` parameter is used for this purpose. It is applied e.g. as follows: `https://app..../?fulltext=sometext`\n\n## API limits\n\nEach API response contains headers that describe the API usage status for the given instance.\n\n```\ncurl -X GET -u 'user:api-key' -H 'X-Instance-Name: my-crm' 'https://app.raynet.cz/api/v2/company/'\n\nHTTP/1.1 200 OK\nStatus: 200 OK\nX-Ratelimit-Limit: 24000\nX-Ratelimit-Remaining: 23999\nX-Ratelimit-Reset: 1508889600\n```\n\nThe meaning of each header is as follows:\n\n| Header | Meaning |\n| -------- | ------ |\n| X-Ratelimit-Limit | Total limit for the current time window and instance.\n| X-Ratelimit-Remaining | Remaining number of requests. |\n| X-Ratelimit-Reset | Time when the time window will expire and the limit will be reset. The value indicates [Unix time](https://en.wikipedia.org/wiki/Unix_time). |\n\nIf the limit is exceeded, an error message is returned with the HTTP code `429 Too Many Requests`:\n\n```json\n{\n\n  \"type\": \"RequestLimitReached\",\n\n  \"message\": \"API request limit reached. See the X-RateLimit-* headers and check out the API documentation for more details.\"\n\n}\n```\n\n### What if my limits aren't enough\n\nBy default, access is limited to 24,000 requests per day (counted from midnight to the next midnight in the UTC time zone). In case the limit is not enough for your integration, contact our customer support at podpora@raynet.cz and we will surely find a suitable solution together.\n\n### Rest API Limits\nThe API returns an HTTP status code 429 Too Many Requests if a single client exceeds the limit of 4 concurrently active connections. This restriction is implemented as part of fair-use policies aimed at ensuring service stability and equal access for all users. Recommendations: \n  + If a higher number of requests is needed, consider using a queue, for example.\n  + Ensure efficient use of connections, including proper closure and reuse.\n\n### Wrong login\n\nIf more than 20 requests are sent with incorrect login information, this access will be blocked for 60 minutes. This restriction applies to the specific IP address.",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://cdn.raynetcrm.com/resources/9dd66059c14f4f5ecc68.jpg",
      "background": "#ffffff"
    }
  },
  "servers": [
    {
      "url": "https://app.raynet.cz/api/v2/"
    },
    {
      "url": "https://app.raynetcrm.sk/api/v2/"
    },
    {
      "url": "https://app.raynetcrm.com/api/v2/"
    },
    {
      "url": "https://eu.raynetcrm.com/api/v2/"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "instanceName": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "API for working with accounts."
    },
    {
      "name": "Contacts",
      "description": "API for working with contacts."
    },
    {
      "name": "Leads",
      "description": "API for working with leads."
    },
    {
      "name": "Deals",
      "description": "API for working with deals."
    },
    {
      "name": "Offers",
      "description": "API for working with quotes / offers."
    },
    {
      "name": "Sales Orders",
      "description": "API for working with sales orders."
    },
    {
      "name": "Projects",
      "description": "API for working with projects."
    },
    {
      "name": "Price Lists",
      "description": "API for working with price lists."
    },
    {
      "name": "Products",
      "description": "API for working with products."
    },
    {
      "name": "Picklists",
      "description": "API for working with picklists."
    },
    {
      "name": "Activities",
      "description": "API for working with activities."
    },
    {
      "name": "Mass email",
      "description": "API for working with the mass email entity. The API serves as support for integration with third-party emailing services. When using this API, it is possible to record the result of an email campaign (made by a third-party service), i.e., what email was sent to whom and with what result. Recipients of mass emails can be connected directly to specific Accounts or Contacts with this API."
    },
    {
      "name": "Documents",
      "description": "API for working with documents."
    },
    {
      "name": "Digital signings",
      "description": "API for working with digital signing."
    },
    {
      "name": "Invoices",
      "description": "API for working with the historical billing module.\n\nThe invoicing module is `terminated` from 2021 and replaced by [integration with iDoklad](https://raynet.cz/blog/fakturacni-modul-od-idokladu/). This API is no longer supported and serves only for a transitional period and temporary backward compatibility. From 2022, invoices can no longer be created or edited by the user.\n\nIf you have any questions about necessary invoice work, please do not hesitate to [contact us](https://raynetcrm.com/ask-support/) and an individual process can be arranged during the transition period..."
    },
    {
      "name": "Custom buttons",
      "description": "## configuration\n\nYou can use the Custom Actions Button to run integration scenarios created by programmers fully custom or on platforms such as https://www.make.com/. Buttons can also open external URLs or trigger actions. These will fill out and download a custom print report, initiate a call on your phone, or send data to another cloud app.\n\nYou can configure the buttons yourself in the administration of your CRM system, in the section \"For developers -> Custom action buttons\".\n\nThe parameters of custom action button are:\n\n| Attribute | Description | Note |\n| -------- | ------ | ------ |\n| Name | Button name | | |\n| URL | URL template | It is possible to use the variables `{token}`, `{entityId}`, `{entityName}`, `{userName}`, `{userId}`, `{personId}`, `{extId_$extIdCode}` see below |\n| Location | Where the button appears | The options are `Main Menu`, `List`, `Detail` |\n| Record | Entity name where the button should be displayed | Only for placement in list or record detail |\n| Description | Button description | Only for placement in a list or record detail. Appears when there are two or more buttons for one entity.\n| Action | Action type | `OPEN URL`, `AJAX`, `DOWNLOAD` see below |\n| Method | Type of http request | `GET`, `POST`, `PUT`, `DELETE` Only for `AJAX` and `DOWNLOAD` type actions |\n| Refresh data after | Time in ms | Only available for `List` and `Detail`. The CRM system will update the displayed data after the specified time |\n| Success header | Header of the message shown after successful action | Only for `AJAX` |\n| Success text | Text of the message shown after successful action | Only for `AJAX` |\n| Require confirmation before running | A confirmation dialog will be shown to the user before running the action |  |\n| Visible only to administrator |Can only be seen by administrator |  |\n| Require saving the record | The record must be saved before the action is ran | Only available for `Detail` |\n| Open in | Open URL in a new tab or in a new window | The options are `OPEN_TAB` and `OPEN_WINDOW`. Only available for `OPEN URL` action. |\n| Width | Width of newly opened window | Only available for `OPEN URL` action with `OPEN_WINDOW` option. |\n| Height | Height of newly opened window | Only available for `OPEN URL` action with `OPEN_WINDOW` option. |\n| Restore data after closing the window | Restore detail or list tab after closing the window | Only available for `OPEN URL` action with `OPEN_WINDOW` option and `List` or `Detail` location.\n\nURL parameters:\n\n| Parameter | Description |\n| -------- | ------ |\n| token | Security token generated by CRM system. It can be verified using the API (see below) |\n| entityId | ID of the record from which the action is triggered. Only available for `Detail` |\n| entityName | Name of the entity from which the action is triggered. Only available for `Detail` and `List` |\n| userName | Email of the user who triggers the action.\n| userId | ID of the user who triggers the action. Users can be filtered using the `list of contacts` API with the `userAccount-id` parameter |\n| personId | ID of the contact who triggered the action. The contact can be filtered using the `contact detail` API with the `id` parameter |\n| extId_$extIdCode | Value of the external id in the record from which the action is triggered. Only available for `Detail`. E.g. in case of external id \"myid:123\" enter extId_myid |\n\nIf the action is run from `List` and a method other than `GET` is used, the IDs of the selected (if any) or displayed records are sent within the `RequestBody` (always).\n\nAction:\n\n| Action | Description |\n| -------- | ------ |\n| OPEN URL | Open URL in a new tab |\n| AJAX | Asynchronous request. Upon successful processing, HTTP 200 and `{success: true}` must be returned. If an error occurs, it is possible to return JSON in the format `{\"success\": false, \"message\": \"An error has occurred\"}` |\n| DOWNLOAD | File Download |"
    },
    {
      "name": "Custom fields",
      "description": "API for loading the configuration of custom fields and for loading the contents (lists) of fields of the PICKLIST type (i.e., drop-down list).\nNote: Getting and saving the values of the custom fields themselves is done through the standard APIs - add, detail and update."
    },
    {
      "name": "Files",
      "description": "API for loading the content of files in the form of attachments or images (photos, logos) to records."
    },
    {
      "name": "GDPR legal title templates",
      "description": "API for working with GDPR legal title templates."
    },
    {
      "name": "GDPR",
      "description": "API for working with GDPR legal titles."
    },
    {
      "name": "Notifications",
      "description": "API for working with notifications."
    },
    {
      "name": "External identifier",
      "description": "As part of record identification, it is possible to use an external identifier that can be stored for a specific record. \nBased on this identifier, the record can then be traced (call the API for the detail of this record). Each record can have up to 10 external identifiers.\n\nThe identifier should have a prefix indicating its origin (or the system it comes from). This is useful when integrating multiple systems so that the identifiers are unambiguous. For example, the external identifier can be `erp:123455`.\n\nThe external identifier can be written using a directly designated API to an existing record (see below) or can be sent at the same time as the record is created. For example, when creating an Account, it is possible to write the external identifier as follows:\n\n```\ncurl -X PUT 'api/v2/company'\n\n{\n\n  \"name\": \"COMPANYNAME LLC\",\n\n  \"rating\": \"A\",\n\n  \"state\": \"A_POTENTIAL\",\n\n  \"role\": \"B_PARTNER\",\n\n  \"extId\": \"erp:123455\"\n\n} \n```\n\nThe detail of the record can then be retrieved using the URL: `/api/v2/{entityName}/ext/{extId}/` (https://app.raynet.cz/api/v2/company/ext/erp:123456/)"
    },
    {
      "name": "Security Levels",
      "description": "API for working with security levels."
    },
    {
      "name": "Users",
      "description": "API for working with users."
    },
    {
      "name": "Discussions",
      "description": "API for working with discussions."
    },
    {
      "name": "Webhook",
      "description": "Webhook is a tool for sending notifications about changes in your CRM system to an external system via HTTP protocol. Notifications are sent as POST requests to the selected URLs.\n\nConfiguration is done in RAYNET CRM settings in the _Webhook_ section. You can set up multiple URLs for sending requests and specify the following for each one:\n\n* event types to be sent,\n\n* the security code that will be sent with each request in the `X-RAYNETCRM-Token` header.\n\nThe configuration also includes a technical contact, which is a set of emails to which an email will be sent in case of problems. It will be sent in the following cases:\n\n* Your URL has not received notifications for more than 1 day (server is unavailable or returns HTTP code other than `2xx`).\n\n* Your URL is receiving requests again, if point 1 has occurred.\n\n* Your URL has not received requests for more than 7 days. Webhook will be deactivated and removed from the settings.\n\nInternally, outgoing notifications from the CRM system are queued. If the destination URLs are available, they are sent repeatedly. Therefore, you will not lose any events when the external system is down.\n\nBy default, the sending rate is limited to 2 events per second per configured URL. The interval between sending dynamically changes based on the queue length - from 500 ms (with a long queue of 100+ requests) to 5 s (with an empty queue). The first request in the queue is sent immediately. At the same time the maximum processing time of the webhook is limited (connectTimeout - 10s, socketTimeout - 60s). After the connection, you will wait a maximum of 60 seconds for a response.\n\n### supported events\n\n**record.created**\n\nThe event is sent after a new record is created. The data includes the record type and the id. The external ID is also included, if defined for the record.\n\n```json\n{\n\n   \"eventId\": \"62497f2c609d4b7184b9adf1e427fa55\",\n\n   \"createdAt\": \"2017-01-18T13:16:39.923+01:00\",\n\n   \"type\": \"record.created\",\n\n   \"author\": \"admin@domain.rnt\",\n\n   \"source\": {\n\n      \"name\": \"user\",\n\n      \"description\": \"browser\"\n\n   },\n\n   \"data\": {\n\n      \"entityName\": \"Company\",\n\n      \"entityId\": 123,\n\n      \"extIds\": [\n\n          \"1111\"\n\n      ]\n\n   }\n\n}\n```\n\n**record.updated**\n\nThe event is sent after the record is changed.\n\n```json\n{\n\n   \"eventId\": \"d3ba342896d94dd5a4ee72d998e1e7c4\",\n\n   \"createdAt\": \"2017-01-19T14:02:31.123+01:00\",\n\n   \"type\": \"record.updated\",\n\n   \"author\": \"admin@domain.rnt\",\n\n   \"source\": {\n\n      \"name\": \"user\",\n\n      \"description\": \"browser\"\n\n   },\n\n   \"data\": {\n\n      \"entityName\": \"Company\",\n\n      \"entityId\": 2,\n\n      \"extIds\": null\n\n   }\n\n}\n```\n\n**record.deleted**\n\nThe event is sent after the record is deleted.\n\n```json\n{\n\n   \"eventId\": \"22b1d9c792814537b574e053642f2ce6\",\n\n   \"createdAt\": \"2017-02-02T11:45:00.873+01:00\",\n\n   \"type\": \"record.deleted\",\n\n   \"author\": \"admin@domain.rnt\",\n\n   \"source\": {\n\n      \"name\": \"user\",\n\n      \"description\": \"browser\"\n\n   },\n\n   \"data\": {\n\n      \"entityName\": \"Company\",\n\n      \"entityId\": 2,\n\n      \"extIds\": null\n\n   }\n\n}\n```\n\n### event source\n\nThe `source` key, identifying the source of the action that triggered the event, is part of the event. The possible values of the `name` nested attribute are:\n\n* `user`: the event is the result of a user action. The `description` field is then either `browser` (CRM in a browser) or `mobile` (mobile application).\n\n* `api`: the event was generated based on an API request. If API key login was used, `description` contains the name of the API key.\n\n* Other events are marked as `system`."
    }
  ],
  "paths": {
    "/company/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "list of accounts",
        "description": "Getting list of accounts. This list can be filtered, sorted and paginated using the parameters below.",
        "operationId": "companyGet",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Viewing the record from the beginning",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of returned accounts is `1000`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 100
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "rowInfo.createdAt",
                "rowInfo.updatedAt",
                "rowInfo.lastModifiedAt",
                "name",
                "regNumber"
              ]
            },
            "example": "name"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          },
          {
            "name": "fulltext",
            "in": "query",
            "description": "Full-text search in the list. Operator is not used in this case.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "myText"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter accounts by name. The `EQ`, `NE`, `LIKE`, `LIKE_NOCASE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "Test Ltd."
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Filtering accounts by last name of individual. The `EQ`, `NE`, `LIKE`, `LIKE_NOCASE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "RAY"
          },
          {
            "name": "person",
            "in": "query",
            "description": "Filtering accounts by flag This is an individual",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "regNumber",
            "in": "query",
            "description": "Filtering accounts by ID number. The `EQ`, `NE` operator can be used. The default operator is `EQ`. For example: for a list of all accounts with a specified ID number, you must enter `regNumber[NE]=null`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "12345678"
          },
          {
            "name": "taxNumber",
            "in": "query",
            "description": "Filtering accounts by Tax ID. The `EQ`, `NE` operator can be used. The default operator is `EQ`. For example: for a list of all accounts with a specified Tax ID, you must enter `taxNumber[NE]=null`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "CZ12345678"
          },
          {
            "name": "taxNumber2",
            "in": "query",
            "description": "Filtering accounts by VAT ID (for Slovak accounts). The `EQ`, `NE` operator can be used. The default operator is `EQ`. For example: for a list of all accounts with a specified VAT ID, you must enter `taxNumber2[NE]=null`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "3472345678"
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filter accounts by owner (Person). Filtered by unique owner identifier (id)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "rating",
            "in": "query",
            "description": "Filtering accounts by Rating",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filter accounts by Role",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filtering accounts by Status",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filtering accounts by category ID (CompanyCategory). The `EQ`, `NE`, `IN` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "economyActivity",
            "in": "query",
            "description": "Filtering accounts by industry ID (EconomyActivity). The `EQ`, `NE`, `IN` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "companyClassification1",
            "in": "query",
            "description": "Filtering accounts by classification 1 ID  (CompanyClassification1). The `EQ`, `NE`, `IN` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "companyClassification2",
            "in": "query",
            "description": "Filtering accounts by classification 2 ID  (CompanyClassification2). The `EQ`, `NE`, `IN` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "companyClassification3",
            "in": "query",
            "description": "Filtering accounts by classification 3 ID  (CompanyClassification3). The `EQ`, `NE`, `IN` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "primaryAddress-contactInfo.email",
            "in": "query",
            "description": "Filtering accounts by email for primary address. The `EQ`, `NE`, `LIKE`, `LIKE_NOCASE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "test@domain.rnt"
          },
          {
            "name": "primaryAddress-contactInfo.email2",
            "in": "query",
            "description": "Filtering accounts by second email for primary address. The `EQ`, `NE`, `LIKE`, `LIKE_NOCASE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "test@domain.rnt"
          },
          {
            "name": "rowInfo.createdAt",
            "in": "query",
            "description": "Filtering accounts by creation date. The `GT`, `GE`, `LT`, `LE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-01 10:00"
          },
          {
            "name": "rowInfo.updatedAt",
            "in": "query",
            "description": "Filtering accounts by last modified date. The `GT`, `GE`, `LT`, `LE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-01 10:00"
          },
          {
            "name": "rowInfo.lastModifiedAt",
            "in": "query",
            "description": "Filtering accounts by last modified date (created or modified). The `GT`, `GE`, `LT`, `LE` operator can be used. Suitable for periodic change detection.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-01 10:00"
          },
          {
            "name": "rowInfo.rowAccess",
            "in": "query",
            "description": "Filtering invalidated accounts. The `EQ`, `NE`, `EQ_OR_NULL`, `NE_OR_NULL` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "INVALID"
          },
          {
            "name": "gdprTemplate",
            "in": "query",
            "description": "Filtering accounts by legal title. Only the `CUSTOM` operator can be used.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withoutGdpr",
            "in": "query",
            "description": "Filtering accounts that do not have a valid legal title. Only the `CUSTOM` operator can be used.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "If the value is equal to `rowInfo`, only status information about the record is returned (created, modified, version, ...). Suitable for periodic change detection.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "rowInfo"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filtering by tag. It is possible to search by multiple tags separated by a comma. The record must then contain at least one (`tag1,tag2`).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "tags"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filtering by ID. The `EQ`, `NE`, `IN`, `GT`, `GE`, `LT`, `LE` operator can be used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "success": "true",
                  "totalCount": 1,
                  "data": [
                    {
                      "id": 2,
                      "name": "Test s.r.o.",
                      "titleBefore": null,
                      "firstName": null,
                      "lastName": null,
                      "titleAfter": null,
                      "person": false,
                      "role": "B_PARTNER",
                      "state": "B_ACTUAL",
                      "rating": "A",
                      "owner": {
                        "id": 1,
                        "fullName": "COMPANYNAME"
                      },
                      "regNumber": "123456789",
                      "taxNumber": "CZ123456789",
                      "taxNumber2": null,
                      "taxPayer": "YES",
                      "primaryAddress": {
                        "id": 2,
                        "primary": true,
                        "contactAddress": false,
                        "address": {
                          "id": 2,
                          "city": "Ostrava",
                          "country": "Czech Republic",
                          "name": "Account headquarters",
                          "province": "Moravian-Silesian Region",
                          "street": "Těšínská",
                          "zipCode": "710 00",
                          "lat": 49.2499446,
                          "lng": 13.703011
                        },
                        "territory": {
                          "id": 91,
                          "value": "Moravia"
                        },
                        "contactInfo": {
                          "email": "test@domain.rnt",
                          "email2": "test2@domain.rnt",
                          "primary": true,
                          "tel1": "123 456 789",
                          "tel1Type": "mobile",
                          "tel2": "987 654 321",
                          "tel2Type": "landline",
                          "www": "www.test.rnt",
                          "otherContact": null
                        }
                      },
                      "contactAddress": {
                        "id": 3,
                        "primary": false,
                        "contactAddress": true,
                        "address": {
                          "id": 3,
                          "city": "Ostrava",
                          "country": "Czech Republic",
                          "name": "Establishment",
                          "province": "Moravian-Silesian Region",
                          "street": "Českobratrská 113",
                          "zipCode": "702 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Moravia"
                        },
                        "contactInfo": {
                          "email": "establishment@domain.rnt",
                          "email2": null,
                          "primary": true,
                          "tel1": "444 444 444",
                          "tel1Type": "mobile",
                          "tel2": "111 111 111",
                          "tel2Type": "landline",
                          "www": null,
                          "otherContact": null
                        }
                      },
                      "category": {
                        "id": 15,
                        "value": "Customer"
                      },
                      "turnover": {
                        "id": 82,
                        "value": "up to 1 mil. CZK"
                      },
                      "economyActivity": {
                        "id": 92,
                        "value": "industry 1"
                      },
                      "companyClassification1": {
                        "id": 93,
                        "value": "clas. 1"
                      },
                      "companyClassification2": {
                        "id": 94,
                        "value": "clas. 2"
                      },
                      "companyClassification3": {
                        "id": 95,
                        "value": "clas. 3"
                      },
                      "paymentTerm": {
                        "id": 64,
                        "value": "7 days"
                      },
                      "contactSource": {
                        "id": 62,
                        "value": "email"
                      },
                      "birthday": null,
                      "notice": "note to account",
                      "tags": [
                        "tag 1",
                        "tag 2"
                      ],
                      "customFields": null,
                      "rowInfo.createdAt": "2022-06-18 13:19",
                      "rowInfo.createdBy": "demo@domain.rnt",
                      "rowInfo.updatedAt": "2022-09-22 14:17",
                      "rowInfo.updatedBy": "demo@domain.rnt",
                      "rowInfo.rowAccess": null,
                      "rowInfo.rowState": null,
                      "securityLevel": {
                        "id": 1,
                        "name": "Shared"
                      },
                      "inlineGdpr": [
                        {
                          "id": 1,
                          "validFrom": "2022-01-01",
                          "validTill": "2022-01-01",
                          "legalTitle": "LEGITIMATE_INTEREST",
                          "templateName": "Legitimate interest",
                          "gdprTemplate": 1
                        }
                      ],
                      "_version": 16
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Unsupported filter column ..."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "AttributeAccessDeniedException",
                  "translatedMessage": "You don't have sufficient permission to..."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "new account",
        "description": "Creating new account with addresses",
        "operationId": "companyInsert",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyInsertDto",
                "type": "object",
                "required": [
                  "name",
                  "rating",
                  "state",
                  "role"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "[Name]"
                  },
                  "person": {
                    "type": "boolean",
                    "description": "[This is an individual]"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "[Last name of individual] - required if the 'This is an individual' flag is active"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "[Name of individual]"
                  },
                  "titleBefore": {
                    "type": "string",
                    "description": "[Title before the name of the individual]"
                  },
                  "titleAfter": {
                    "type": "string",
                    "description": "[Title after the name of the individual]"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "[Salutation]"
                  },
                  "securityLevel": {
                    "type": "integer",
                    "description": "[Security Level] Security Level ID. If not filled in, the default security group is set.",
                    "format": "int64"
                  },
                  "owner": {
                    "type": "integer",
                    "description": "[Owner] ID of the contact who is also a user",
                    "format": "int64"
                  },
                  "rating": {
                    "type": "string",
                    "description": "[Rating]",
                    "enum": [
                      "A",
                      "B",
                      "C"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "description": "[Status]",
                    "enum": [
                      "A_POTENTIAL",
                      "B_ACTUAL",
                      "C_DEFERRED",
                      "D_UNATTRACTIVE"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "description": "[Relationship]",
                    "enum": [
                      "A_SUBSCRIBER",
                      "B_PARTNER",
                      "C_SUPPLIER",
                      "D_RIVAL"
                    ]
                  },
                  "notice": {
                    "type": "string",
                    "description": "[Note to account]"
                  },
                  "category": {
                    "type": "integer",
                    "description": "[Category] Record ID from the CompanyCategory picklist",
                    "format": "int64"
                  },
                  "contactSource": {
                    "type": "integer",
                    "description": "[Contact Source] Record ID from the ContactSource picklist (common picklist for Deals, Accounts and Leads)",
                    "format": "int64"
                  },
                  "employeesNumber": {
                    "type": "integer",
                    "description": "[Employees] Record ID from the EmployeesNumber picklist",
                    "format": "int64"
                  },
                  "legalForm": {
                    "type": "integer",
                    "description": "[Legal form] Record ID from the LegalForm picklist",
                    "format": "int64"
                  },
                  "paymentTerm": {
                    "type": "integer",
                    "description": "[Payment terms] Record ID from the PaymentTerm picklist",
                    "format": "int64"
                  },
                  "turnover": {
                    "type": "integer",
                    "description": "[Turnover] Record ID from the CompanyTurnover picklist",
                    "format": "int64"
                  },
                  "economyActivity": {
                    "type": "integer",
                    "description": "[Industry] Record ID from the EconomyActivity picklist",
                    "format": "int64"
                  },
                  "companyClassification1": {
                    "type": "integer",
                    "description": "[Classification 1] Record ID from the CompanyClassification1 picklist",
                    "format": "int64"
                  },
                  "companyClassification2": {
                    "type": "integer",
                    "description": "[Classification 2] Record ID from the CompanyClassification2 picklist",
                    "format": "int64"
                  },
                  "companyClassification3": {
                    "type": "integer",
                    "description": "[Classification 3] Record ID the from CompanyClassification3 picklist",
                    "format": "int64"
                  },
                  "regNumber": {
                    "type": "string",
                    "description": "[ID no.]"
                  },
                  "taxNumber": {
                    "type": "string",
                    "description": "[Tax ID no.]"
                  },
                  "taxNumber2": {
                    "type": "string",
                    "description": "[VAT ID no.] For Slovak accounts"
                  },
                  "taxPayer": {
                    "type": "string",
                    "description": "[VAT payer]",
                    "enum": [
                      "YES",
                      "NO"
                    ]
                  },
                  "bankAccount": {
                    "type": "string",
                    "description": "[Bank account]"
                  },
                  "databox": {
                    "type": "string",
                    "description": "[Data box]"
                  },
                  "court": {
                    "type": "string",
                    "description": "[Reference number]"
                  },
                  "birthday": {
                    "type": "string",
                    "description": "[Birthday/Anniversary]",
                    "format": "date"
                  },
                  "addresses": {
                    "minItems": 0,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "[Name]"
                            },
                            "street": {
                              "type": "string",
                              "description": "[Street]"
                            },
                            "city": {
                              "type": "string",
                              "description": "[City]"
                            },
                            "province": {
                              "type": "string",
                              "description": "[Region]"
                            },
                            "zipCode": {
                              "type": "string",
                              "description": "[ZIP code]"
                            },
                            "country": {
                              "type": "string",
                              "description": "[Country] Country Code (from standard ISO 3166-1 alpha-2)"
                            },
                            "lat": {
                              "type": "number",
                              "description": "[Latitude]"
                            },
                            "lng": {
                              "type": "number",
                              "description": "[Longitude]"
                            }
                          }
                        },
                        "contactInfo": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "description": "[Email]"
                            },
                            "email2": {
                              "type": "string",
                              "description": "[Email2]"
                            },
                            "fax": {
                              "type": "string",
                              "description": "[Fax]"
                            },
                            "otherContact": {
                              "type": "string",
                              "description": "[Other contact]"
                            },
                            "tel1Type": {
                              "type": "string",
                              "description": "[Type 1]"
                            },
                            "tel1": {
                              "type": "string",
                              "description": "[Phone 1]"
                            },
                            "tel2Type": {
                              "type": "string",
                              "description": "[Type 2]"
                            },
                            "tel2": {
                              "type": "string",
                              "description": "[Phone 2]"
                            },
                            "www": {
                              "type": "string",
                              "description": "[WWW]"
                            }
                          }
                        },
                        "territory": {
                          "type": "integer",
                          "description": "[Business Territory] Record ID from the Territory picklist",
                          "format": "int64"
                        }
                      }
                    }
                  },
                  "socialNetworkContact": {
                    "type": "object",
                    "properties": {
                      "facebook": {
                        "type": "string",
                        "description": "[Facebook]"
                      },
                      "googleplus": {
                        "type": "string",
                        "description": "[Google+]"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "[Twitter]"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "[Linkedin]"
                      },
                      "pinterest": {
                        "type": "string",
                        "description": "[Pinterest]"
                      },
                      "instagram": {
                        "type": "string",
                        "description": "[Instagram]"
                      },
                      "skype": {
                        "type": "string",
                        "description": "[Skype]"
                      },
                      "youtube": {
                        "type": "string",
                        "description": "[Youtube]"
                      },
                      "whatsapp": {
                        "type": "string",
                        "description": "[WhatsApp]"
                      },
                      "tiktok": {
                        "type": "string",
                        "description": "[TikTok]"
                      },
                      "threads": {
                        "type": "string",
                        "description": "[Threads]"
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "<customFieldKey>": {
                        "type": "string",
                        "description": "type \n- number - for custom field of BIG_DECIMAL  type, \n- boolean - for custom field of BOOLEAN type, \n- date - for DATE type \n- string - for others\ncustomFieldKey = generated unique key of the custom field (obtained from the configuration of custom fields). If the value is non-empty, it is set to the custom field, if it is empty or null, the value is removed in the custom field."
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "COMPANYNAME LLC",
                "securityLevel": 1,
                "owner": 12,
                "rating": "A",
                "state": "A_POTENTIAL",
                "role": "B_PARTNER",
                "notice": "Note",
                "category": 12,
                "contactSource": 12,
                "employeesNumber": 12,
                "legalForm": 12,
                "paymentTerm": 12,
                "turnover": 12,
                "economyActivity": 12,
                "companyClassification1": 12,
                "companyClassification2": 12,
                "companyClassification3": 12,
                "regNumber": "12345678",
                "taxNumber": "CZ12345678",
                "taxNumber2": null,
                "taxPayer": "YES",
                "bankAccount": "123123123",
                "addresses": [
                  {
                    "address": {
                      "name": "Account headquarters",
                      "street": "Francouzská 6167/5",
                      "city": "Ostrava",
                      "province": "Moravia",
                      "zipCode": "708 00",
                      "country": "CZ",
                      "lat": 49.827486,
                      "lng": 18.186497
                    },
                    "contactInfo": {
                      "email": "info@domain.rnt",
                      "email2": "",
                      "fax": "",
                      "otherContact": "",
                      "tel1": "+420 553 401 520",
                      "tel1Type": "reception",
                      "tel2": "+420 553 401 547",
                      "tel2Type": "customer support",
                      "www": "www.company.rnt"
                    },
                    "territory": 12
                  }
                ],
                "tags": [
                  "tag 1",
                  "tag 2"
                ],
                "customFields": {
                  "Spoluprace_2aa2c": "2022-01-01"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insert201Response"
                }
              }
            }
          }
        }
      }
    },
    "/company/{companyId}/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "account detail",
        "description": "Getting account detail. In the detail, the account is listed with all recorded data including all recorded addresses.\nIf the account record contains custom fields, the fields that contain a blank value are not present in the output (for optimization reasons).",
        "operationId": "companyDetailGet",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "success": "true",
                  "data": {
                    "id": 2,
                    "name": "Test s.r.o.",
                    "person": false,
                    "firstName": null,
                    "lastName": null,
                    "titleBefore": null,
                    "titleAfter": null,
                    "salutation": null,
                    "owner": {
                      "id": 1,
                      "fullName": "COMPANYNAME"
                    },
                    "rating": "A",
                    "state": "B_ACTUAL",
                    "role": "B_PARTNER",
                    "notice": "note to account",
                    "category": {
                      "id": 15,
                      "value": "Customer"
                    },
                    "contactSource": {
                      "id": 62,
                      "value": "email"
                    },
                    "employeesNumber": {
                      "id": 64,
                      "value": "1 - 10"
                    },
                    "legalForm": {
                      "id": 64,
                      "value": "s.r.o."
                    },
                    "paymentTerm": {
                      "id": 64,
                      "value": "7 days"
                    },
                    "turnover": {
                      "id": 82,
                      "value": "up to 1 mil. CZK"
                    },
                    "economyActivity": {
                      "id": 92,
                      "value": "industry 1"
                    },
                    "companyClassification1": {
                      "id": 93,
                      "value": "clas. 1"
                    },
                    "companyClassification2": {
                      "id": 94,
                      "value": "clas. 2"
                    },
                    "companyClassification3": {
                      "id": 95,
                      "value": "clas. 3"
                    },
                    "regNumber": "123456789",
                    "taxNumber": "CZ123456789",
                    "taxNumber2": null,
                    "taxPayer": "YES",
                    "bankAccount": "123456/1111",
                    "databox": null,
                    "court": null,
                    "birthday": null,
                    "primaryAddress": {
                      "id": 2,
                      "primary": true,
                      "contactAddress": false,
                      "address": {
                        "id": 2,
                        "city": "Ostrava",
                        "country": "Czech Republic",
                        "name": "Account headquarters",
                        "province": "Moravian-Silesian Region",
                        "street": "Těšínská",
                        "zipCode": "710 00",
                        "lat": null,
                        "lng": null
                      },
                      "territory": {
                        "id": 91,
                        "value": "Moravia"
                      },
                      "contactInfo": {
                        "email": "test@domain.rnt",
                        "email2": "test2@domain.rnt",
                        "primary": true,
                        "tel1": "123 456 789",
                        "tel1Type": "mobile",
                        "tel2": "987 654 321",
                        "tel2Type": "landline",
                        "www": "www.test.rnt",
                        "otherContact": null
                      }
                    },
                    "tags": [
                      "tag 1",
                      "tag 2"
                    ],
                    "logo": {
                      "id": 428,
                      "contentType": "image/png",
                      "fileName": "logo.png",
                      "size": 17485
                    },
                    "socialNetworkContact": {
                      "facebook": "abcd",
                      "googleplus": null,
                      "twitter": null,
                      "linkedin": null,
                      "pinterest": null,
                      "instagram": null,
                      "skype": null,
                      "youtube": null
                    },
                    "customFields": {
                      "Cislo_klie_cd702": "AB123",
                      "Lonsky_zis_7aac1": 500,
                      "Spoluprace_2aa2c": "2022-02-02"
                    },
                    "rowInfo.createdAt": "2022-06-18 13:19",
                    "rowInfo.createdBy": "demo@domain.rnt",
                    "rowInfo.updatedAt": "2022-01-23 09:50",
                    "rowInfo.updatedBy": "demo@domain.rnt",
                    "rowInfo.rowAccess": null,
                    "rowInfo.rowState": null,
                    "extIds": null,
                    "_version": 14,
                    "attachments": [
                      {
                        "id": 213,
                        "link": null,
                        "linkName": null,
                        "file": {
                          "id": 631,
                          "contentType": "application/zip",
                          "fileName": "test_zip.zip",
                          "size": 4413
                        },
                        "folder": "Test"
                      }
                    ],
                    "addresses": [
                      {
                        "id": 2,
                        "primary": true,
                        "contactAddress": false,
                        "address": {
                          "id": 2,
                          "city": "Ostrava",
                          "country": "Czech Republic",
                          "name": "Account headquarters",
                          "province": "Moravian-Silesian Region",
                          "street": "Těšínská",
                          "zipCode": "710 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Moravia"
                        },
                        "contactInfo": {
                          "email": "test@domain.rnt",
                          "email2": "test2@domain.rnt",
                          "primary": true,
                          "tel1": "123 456 789",
                          "tel1Type": "mobile",
                          "tel2": "987 654 321",
                          "tel2Type": "landline",
                          "www": "www.test.rnt",
                          "otherContact": null
                        }
                      },
                      {
                        "id": 3,
                        "primary": false,
                        "contactAddress": true,
                        "address": {
                          "id": 3,
                          "city": "Ostrava",
                          "country": "Czech Republic",
                          "name": "Establishment",
                          "province": "Moravian-Silesian Region",
                          "street": "Českobratrská 113",
                          "zipCode": "702 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Moravia"
                        },
                        "contactInfo": {
                          "email": "establishment@domain.rnt",
                          "email2": null,
                          "primary": true,
                          "tel1": "444 444 444",
                          "tel1Type": "mobile",
                          "tel2": "111 111 111",
                          "tel2Type": "landline",
                          "www": null,
                          "otherContact": null
                        }
                      }
                    ],
                    "inlineGdpr": [
                      {
                        "id": 1,
                        "validFrom": "2022-01-01",
                        "validTill": "2022-01-01",
                        "legalTitle": "LEGITIMATE_INTEREST",
                        "templateName": "Legitimate interest",
                        "gdprTemplate": 1
                      }
                    ],
                    "originLead": {
                      "id": 4,
                      "code": "L-18-002",
                      "topic": "My lead"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "modifying account",
        "description": "Modifying account data",
        "operationId": "companyEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyEditDto",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "[Name]"
                  },
                  "person": {
                    "type": "boolean",
                    "description": "[This is an individual]"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "[Last name of individual] - required if the 'This is an individual' flag is active"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "[Name of individual]"
                  },
                  "titleBefore": {
                    "type": "string",
                    "description": "[Title before the name of the individual]"
                  },
                  "titleAfter": {
                    "type": "string",
                    "description": "[Title after the name of the individual]"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "[Salutation]"
                  },
                  "securityLevel": {
                    "type": "integer",
                    "description": "[Security Level] Security Level ID.",
                    "format": "int64"
                  },
                  "owner": {
                    "type": "integer",
                    "description": "[Owner] ID of the contact who is also a user",
                    "format": "int64"
                  },
                  "rating": {
                    "type": "string",
                    "description": "[Rating]",
                    "enum": [
                      "A",
                      "B",
                      "C"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "description": "[Status]",
                    "enum": [
                      "A_POTENTIAL",
                      "B_ACTUAL",
                      "C_DEFERRED",
                      "D_UNATTRACTIVE"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "description": "[Relationship]",
                    "enum": [
                      "A_SUBSCRIBER",
                      "B_PARTNER",
                      "C_SUPPLIER",
                      "D_RIVAL"
                    ]
                  },
                  "notice": {
                    "type": "string",
                    "description": "[Note to account]"
                  },
                  "category": {
                    "type": "integer",
                    "description": "[Category] Record ID from the CompanyCategory picklist",
                    "format": "int64"
                  },
                  "contactSource": {
                    "type": "integer",
                    "description": "[Contact Source] Record ID from the ContactSource picklist (common picklist for Deals, Accounts and Leads)",
                    "format": "int64"
                  },
                  "employeesNumber": {
                    "type": "integer",
                    "description": "[Employees] Record ID from the EmployeesNumber picklist",
                    "format": "int64"
                  },
                  "legalForm": {
                    "type": "integer",
                    "description": "[Legal form] Record ID from the LegalForm picklist",
                    "format": "int64"
                  },
                  "paymentTerm": {
                    "type": "integer",
                    "description": "[Payment terms] Record ID from the PaymentTerm picklist",
                    "format": "int64"
                  },
                  "turnover": {
                    "type": "integer",
                    "description": "[Turnover] Record ID from the CompanyTurnover picklist",
                    "format": "int64"
                  },
                  "economyActivity": {
                    "type": "integer",
                    "description": "[Industry] Record ID from the EconomyActivity picklist",
                    "format": "int64"
                  },
                  "companyClassification1": {
                    "type": "integer",
                    "description": "[Classification 1]Record ID from the CompanyClassification1 picklist",
                    "format": "int64"
                  },
                  "companyClassification2": {
                    "type": "integer",
                    "description": "[Classification 2] Record ID from the CompanyClassification2 picklist",
                    "format": "int64"
                  },
                  "companyClassification3": {
                    "type": "integer",
                    "description": "[Classification 3] Record ID the from CompanyClassification3 picklist",
                    "format": "int64"
                  },
                  "regNumber": {
                    "type": "string",
                    "description": "[ID no.]"
                  },
                  "taxNumber": {
                    "type": "string",
                    "description": "[Tax ID no.]"
                  },
                  "taxNumber2": {
                    "type": "string",
                    "description": "[VAT ID no.] For Slovak accounts"
                  },
                  "taxPayer": {
                    "type": "string",
                    "description": "[VAT payer]",
                    "enum": [
                      "YES",
                      "NO"
                    ]
                  },
                  "bankAccount": {
                    "type": "string",
                    "description": "[Bank account]"
                  },
                  "databox": {
                    "type": "string",
                    "description": "[Data box]"
                  },
                  "court": {
                    "type": "string",
                    "description": "[Reference number]"
                  },
                  "birthday": {
                    "type": "string",
                    "description": "[Birthday/Anniversary]",
                    "format": "date"
                  },
                  "socialNetworkContact": {
                    "type": "object",
                    "properties": {
                      "facebook": {
                        "type": "string",
                        "description": "[Facebook]"
                      },
                      "googleplus": {
                        "type": "string",
                        "description": "[Google+]"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "[Twitter]"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "[Linkedin]"
                      },
                      "pinterest": {
                        "type": "string",
                        "description": "[Pinterest]"
                      },
                      "instagram": {
                        "type": "string",
                        "description": "[Instagram]"
                      },
                      "skype": {
                        "type": "string",
                        "description": "[Skype]"
                      },
                      "youtube": {
                        "type": "string",
                        "description": "[Youtube]"
                      },
                      "whatsapp": {
                        "type": "string",
                        "description": "[WhatsApp]"
                      },
                      "tiktok": {
                        "type": "string",
                        "description": "[TikTok]"
                      },
                      "threads": {
                        "type": "string",
                        "description": "[Threads]"
                      }
                    }
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "<customFieldKey>": {
                        "type": "string",
                        "description": "type \n- number - for custom field of BIG_DECIMAL  type, \n- boolean - for custom field of BOOLEAN type, \n- date - for DATE type \n- string - for others\ncustomFieldKey = generated unique key of the custom field (obtained from the configuration of custom fields). If the value is non-empty, it is set to the custom field, if it is empty or null, the value is removed in the custom field."
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "COMPANYNAME LLC",
                "owner": 12,
                "rating": "A",
                "state": "A_POTENTIAL",
                "role": "B_PARTNER",
                "notice": "Note",
                "category": 12,
                "contactSource": 12,
                "employeesNumber": 12,
                "legalForm": 12,
                "paymentTerm": 12,
                "turnover": 12,
                "economyActivity": 12,
                "companyClassification1": 12,
                "companyClassification2": 12,
                "companyClassification3": 12,
                "regNumber": "12345678",
                "taxNumber": "CZ12345678",
                "taxNumber2": null,
                "taxPayer": "YES",
                "bankAccount": "123123123",
                "customFields": {
                  "Lonsky_zis_7aac1": 666
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "deleting account",
        "description": "",
        "operationId": "companyDelete",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/ext/{extId}/": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "account detail by external ID",
        "description": "Getting account detail by external ID. In the detail, the account is listed with all recorded data including all recorded addresses.\nIf the account record contains custom fields, the fields that contain a blank value are not present in the output (for optimization reasons).",
        "operationId": "companyDetailByExtIdGet",
        "parameters": [
          {
            "name": "extId",
            "in": "path",
            "description": "account external ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "erp:123456789"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "success": "true",
                  "data": {
                    "id": 2,
                    "name": "Test s.r.o.",
                    "person": false,
                    "firstName": null,
                    "lastName": null,
                    "titleBefore": null,
                    "titleAfter": null,
                    "salutation": null,
                    "owner": {
                      "id": 1,
                      "fullName": "COMPANYNAME"
                    },
                    "rating": "A",
                    "state": "B_ACTUAL",
                    "role": "B_PARTNER",
                    "notice": "note to account",
                    "category": {
                      "id": 15,
                      "value": "Customer"
                    },
                    "contactSource": {
                      "id": 62,
                      "value": "email"
                    },
                    "employeesNumber": {
                      "id": 64,
                      "value": "1 - 10"
                    },
                    "legalForm": {
                      "id": 64,
                      "value": "s.r.o."
                    },
                    "paymentTerm": {
                      "id": 64,
                      "value": "7 days"
                    },
                    "turnover": {
                      "id": 82,
                      "value": "up to 1 mil. CZK"
                    },
                    "economyActivity": {
                      "id": 92,
                      "value": "industry 1"
                    },
                    "companyClassification1": {
                      "id": 93,
                      "value": "clas. 1"
                    },
                    "companyClassification2": {
                      "id": 94,
                      "value": "clas. 2"
                    },
                    "companyClassification3": {
                      "id": 95,
                      "value": "clas. 3"
                    },
                    "regNumber": "123456789",
                    "taxNumber": "CZ123456789",
                    "taxNumber2": null,
                    "taxPayer": "YES",
                    "bankAccount": "123456/1111",
                    "databox": null,
                    "court": null,
                    "birthday": null,
                    "primaryAddress": {
                      "id": 2,
                      "primary": true,
                      "contactAddress": false,
                      "address": {
                        "id": 2,
                        "city": "Ostrava",
                        "country": "Czech Republic",
                        "name": "Account headquarters",
                        "province": "Moravian-Silesian Region",
                        "street": "Těšínská",
                        "zipCode": "710 00",
                        "lat": null,
                        "lng": null
                      },
                      "territory": {
                        "id": 91,
                        "value": "Moravia"
                      },
                      "contactInfo": {
                        "email": "test@domain.rnt",
                        "email2": "test2@domain.rnt",
                        "primary": true,
                        "tel1": "123 456 789",
                        "tel1Type": "mobile",
                        "tel2": "987 654 321",
                        "tel2Type": "landline",
                        "www": "www.test.rnt",
                        "otherContact": null
                      }
                    },
                    "tags": [
                      "tag 1",
                      "tag 2"
                    ],
                    "logo": {
                      "id": 428,
                      "contentType": "image/png",
                      "fileName": "logo.png",
                      "size": 17485
                    },
                    "socialNetworkContact": {
                      "facebook": "abcd",
                      "googleplus": null,
                      "twitter": null,
                      "linkedin": null,
                      "pinterest": null,
                      "instagram": null,
                      "skype": null,
                      "youtube": null
                    },
                    "customFields": {
                      "Cislo_klie_cd702": "AB123",
                      "Lonsky_zis_7aac1": 500,
                      "Spoluprace_2aa2c": "2022-02-02"
                    },
                    "rowInfo.createdAt": "2022-06-18 13:19",
                    "rowInfo.createdBy": "demo@domain.rnt",
                    "rowInfo.updatedAt": "2022-01-23 09:50",
                    "rowInfo.updatedBy": "demo@domain.rnt",
                    "rowInfo.rowAccess": null,
                    "rowInfo.rowState": null,
                    "extIds": null,
                    "_version": 14,
                    "attachments": [
                      {
                        "id": 213,
                        "link": null,
                        "linkName": null,
                        "file": {
                          "id": 631,
                          "contentType": "application/zip",
                          "fileName": "test_zip.zip",
                          "size": 4413
                        },
                        "folder": "Test"
                      }
                    ],
                    "addresses": [
                      {
                        "id": 2,
                        "primary": true,
                        "contactAddress": false,
                        "address": {
                          "id": 2,
                          "city": "Ostrava",
                          "country": "Czech Republic",
                          "name": "Account headquarters",
                          "province": "Moravian-Silesian Region",
                          "street": "Těšínská",
                          "zipCode": "710 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Moravia"
                        },
                        "contactInfo": {
                          "email": "test@domain.rnt",
                          "email2": "test2@domain.rnt",
                          "primary": true,
                          "tel1": "123 456 789",
                          "tel1Type": "mobile",
                          "tel2": "987 654 321",
                          "tel2Type": "landline",
                          "www": "www.test.rnt",
                          "otherContact": null
                        }
                      },
                      {
                        "id": 3,
                        "primary": false,
                        "contactAddress": true,
                        "address": {
                          "id": 3,
                          "city": "Ostrava",
                          "country": "Czech Republic",
                          "name": "Establishment",
                          "province": "Moravian-Silesian Region",
                          "street": "Českobratrská 113",
                          "zipCode": "702 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Moravia"
                        },
                        "contactInfo": {
                          "email": "establishment@domain.rnt",
                          "email2": null,
                          "primary": true,
                          "tel1": "444 444 444",
                          "tel1Type": "mobile",
                          "tel2": "111 111 111",
                          "tel2Type": "landline",
                          "www": null,
                          "otherContact": null
                        }
                      }
                    ],
                    "inlineGdpr": [
                      {
                        "id": 1,
                        "validFrom": "2022-01-01",
                        "validTill": "2022-01-01",
                        "legalTitle": "LEGITIMATE_INTEREST",
                        "templateName": "Legitimate interest",
                        "gdprTemplate": 1
                      }
                    ],
                    "originLead": {
                      "id": 4,
                      "code": "L-18-002",
                      "topic": "My lead"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/{companyId}/lock": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "locking account",
        "description": "Locking the account record for editing.",
        "operationId": "companyLockEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/unlock": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "unlocking account",
        "description": "Unlocking the account record for editing.",
        "operationId": "companyUnlockEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/invalid": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "invalidating account",
        "description": "Account record invalidation.",
        "operationId": "companyInvalidEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/valid": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "renewing account validity",
        "description": "Renewing account record validity.",
        "operationId": "companyValidEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/anonymize/": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "GDPR anonymize account",
        "description": "The record data will be anonymized.",
        "operationId": "companyAnonymizeEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/address/": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "adding address to account",
        "description": "Adding a new address to the account with the `companyId` identifier. The address is classified as one of the other addresses (i.e. it is not primary).",
        "operationId": "companyAddressInsert",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyAddressInsertDto",
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "[Name]"
                      },
                      "street": {
                        "type": "string",
                        "description": "[Street]"
                      },
                      "city": {
                        "type": "string",
                        "description": "[City]"
                      },
                      "province": {
                        "type": "string",
                        "description": "[Region]"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "[ZIP code]"
                      },
                      "country": {
                        "type": "string",
                        "description": "[Country] Country Code (from standard ISO 3166-1 alpha-2)"
                      },
                      "lat": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Latitude]"
                      },
                      "lng": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Longitude]"
                      }
                    }
                  },
                  "contactInfo": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "[Email]"
                      },
                      "email2": {
                        "type": "string",
                        "description": "[Email2]"
                      },
                      "fax": {
                        "type": "string",
                        "description": "[Fax]"
                      },
                      "otherContact": {
                        "type": "string",
                        "description": "[Other contact]"
                      },
                      "tel1Type": {
                        "type": "string",
                        "description": "[Type 1]"
                      },
                      "tel1": {
                        "type": "string",
                        "description": "[Phone 1]"
                      },
                      "tel2Type": {
                        "type": "string",
                        "description": "[Type 2]"
                      },
                      "tel2": {
                        "type": "string",
                        "description": "[Phone 2]"
                      },
                      "www": {
                        "type": "string",
                        "description": "[WWW]"
                      }
                    }
                  },
                  "territory": {
                    "type": "integer",
                    "description": "[Business Territory] Record ID from the Territory picklist",
                    "format": "int64"
                  }
                }
              },
              "example": {
                "address": {
                  "name": "Account headquarters",
                  "street": "Francouzská 6167/5",
                  "city": "Ostrava",
                  "province": "Moravia",
                  "zipCode": "708 00",
                  "country": "CZ",
                  "lat": null,
                  "lng": null
                },
                "contactInfo": {
                  "email": "info@domain.rnt",
                  "email2": "",
                  "fax": "",
                  "otherContact": "",
                  "tel1": "+420 553 401 520",
                  "tel1Type": "reception",
                  "tel2": "+420 553 401 547",
                  "tel2Type": "customer support",
                  "www": "www.company.rnt"
                },
                "territory": 12
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insert201Response"
                }
              }
            }
          }
        }
      }
    },
    "/company/{companyId}/address/{addressId}/": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "modifying account address",
        "description": "For an account with the `companyId` identifier, the address with the `addressId` identifier will be modified.",
        "operationId": "companyAddressEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "account ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "address ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyAddressEditDto",
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "[Name]"
                      },
                      "street": {
                        "type": "string",
                        "description": "[Street]"
                      },
                      "city": {
                        "type": "string",
                        "description": "[City]"
                      },
                      "province": {
                        "type": "string",
                        "description": "[Region]"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "[ZIP code]"
                      },
                      "country": {
                        "type": "string",
                        "description": "[Country] Country Code (from standard ISO 3166-1 alpha-2)"
                      },
                      "lat": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Latitude]"
                      },
                      "lng": {
[...]
